
.contenedor{
    height: 100vh;
    background: url("../assets/fondo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;

}

.formulario {
    border-radius: 15px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(71, 71, 71, 0.905);
}

.formulario img{
    width: 30em;
}

.input{
    font-size: 2em;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.boton{
    border-radius: 5px;
    padding: 5px;
    background-color: white;
}

.input p {
margin: 0%;
    padding: 0%;
    font-size: medium;
    color:red
}