.about{
    border: 5px solid rgb(234, 255, 0);
    font-size: large;
    width: max-content;
    border-radius: 15px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 255, 60, 0.535);
}


.about img{
    width: 20em;
    border-radius: 50%;
}