.about{
    border: 5px solid rgb(234, 255, 0);
    font-size: large;
    height: 90%;
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(0, 255, 60, 0.535);
}


.about img{
    width: 20em;
    border-radius: 50%;
}